[includeIf "gitdir:~/projects/personal/"]
    path = .gitconfig.personal
[includeIf "gitdir:~/projects/work/"]
    path = .gitconfig.work

[credential]
    helper = cache --timeout=3600

[color]
    diff        = true
    grep        = true
    status      = true
    ui          = true
    branch      = true
    interactive = true

[log]
    decorate = full

[alias]
    last = log -1 --stat
    cp = cherry-pick
    co = checkout
    cl = clone
    ci = commit
    st = status -sb
    br = branch
    unstage = reset HEAD --
    dc = diff --cached
    mg = merge
    lg = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ll = log ORIG_HEAD.. --stat --no-merges

[core]
    autocrlf     = input
    safecrlf     = false
    eof          = lf
    whitespace   = trailing-space,space-before-tab
    editor       = mcedit
    trustctime   = false
    excludesfile = ~/.gitignore

[help]
    autocorrect = false

[fetch]
    fsckObjects = true

[pull]
    ff = true

[push]
    default = current

[receive]
    fsckObjects = true

[gc]
    auto = 0
    reflogexpire            = 135
    reflogexpireunreachable = 45
    pruneExpire             = 4.weeks.ago
